<h1>New participation</h1>

<%= error_messages_for :participation %>

<% form_for(@participation) do |f| %>
  <p>
    <b>Bill</b><br />
    <%= f.text_field :bill_id %>
  </p>

  <p>
    <b>Participant</b><br />
    <%= f.text_field :participant_id %>
  </p>

  <p>
    <b>Factor</b><br />
    <%= f.text_field :factor %>
  </p>

  <p>
    <b>Creator</b><br />
    <%= f.text_field :creator_id %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', participations_path %>
