
<h2>Your balance with <%= @person.name %>:</h2>
<%= render :partial => 'people/person_row', :locals => { :person => @person }%>

<h2>Bills shared with <%= @person.name %>:</h2>
<%= render :partial => 'bills/bill_list', :locals => {:bills => @bills} %>

<h2>Description:</h2>
<p>
	<span style="color:red;">Red</span> means you owe <%= @person.name %>.<br />
	<span style="color:green;">Green</span> means <%= @person.name %> owes you.
</p>
