<% content_for :section2 do %>
<div id="wrapperSection2">
	<div id="section2">
		
		<%= render :partial => 'layouts/container', :locals => { :description => 'Your total balance', :total_amount => '&nbsp;', :amount => price( current_person.balance ) }%>

		<div id="section2Tabs">
			<div class="tab blur"><%= link_to 'People', url_for( :controller => 'people', :action => 'index' ) %></div>
			<div class="tab focus"><%= link_to 'Bills', url_for( :controller => 'bills', :action => 'index' ) %></div>
		</div>
		<div class="clear"></div>
		<a href="<%= url_for(:controller => 'bills', :action => 'new') %>">
			<img alt="New Bill" src="/images/new_bill_button.png" id="new_bill_button"/>
		</a>
	</div>
</div>
<% end %>

<div>&nbsp;</div>

<%= render :partial => 'bills/bill_list', :locals => {:bills => @bills} %>

<br />

