
<% container do %>
	<% form_tag url_for(:action => "create"), :onsubmit => 'return validateBill();' do %>
		<div id="bill_fields">
			<input type="text" id="bill_name" name="bill_name" value="Description" />
			<div id="amount_field">
				<input type="text" id="bill_amount" name="bill_amount" />
				<label id="bill_amount_label" for="bill_amount"><%= current_person.currency.short_code %></label>
			</div>
			<div id="payer_field">
				<label for="payer_id">Payer</label>
				<%= friend_select_box( :name => 'payer_id', :selected => current_person.id) %>
			</div>
		</div>
	
		<h2 style="text-align:center">Please choose everyone who is sharing the bill:</h2>
		<table id="participant_table">
			<thead>
				<tr>
					<th></th>
					<th>name</th>
					<th>factor</th>
				</tr>
			</thead>
			<tbody id="participants">
				<tr class="participant_row_template">
					<td>
						<div class="avatar_container"></div>
					</td>
					<td class="user_col">
						<span class="user_name"></span>
					</td>
					<td class="factor_col">
						<input type="text" class="factor" name="f" value="1.0" />
					</td>
					<td><button class="remove_person">Remove Person</button></td>
				</tr>
			</tbody>
		</table>

		<div id="add_person">
			<%= friend_select_box( :name => 'person_id', :blank => true, :blank_text => 'Add a person...') %>
		</div>
	
		<input id="create_bill_button" type="submit" name="create" value="Create Bill" />
	<% end %><% # of form_tag %>
<% end %>						

<% content_for :javascript do %>
<script type="text/javascript">
// <!--
var gravatarURLs = {
	<%= current_person.known_people.map{|p| "#{p.id}: '#{h p.gravatar_url( :size => 56 )}'"}.join(",\n") %>
};

function validateBill(){
		$('.error').removeClass('error');
	
	var errors = true;
	// chek if at least one participant is in the bill:
	$('.participant_row').filter(function(){errors=false});
	if( errors ) $('person_id').addClass('errors');
	
	$('#participants .factor').filter(function(){ return errors = !this.value.match( /^\s*(\d+\.?\d*|\d*\.?\d+)\s*$/ ) }).addClass('error');
	$('#bill_amount').filter(function(){ return errors = !this.value.match( /^\s*(\d+\.?\d{0,2}|\d*\.?\d\d?)\s*$/ ) }).addClass('error');
	$('#bill_name').filter(function(){ return errors = (this.value == '') }).addClass('error');
	return !errors;
}

$(document).ready(function() {
	$('button.remove_person').click(function() {
		$(this).closest('.participant_row').remove();
	});
	function rowFromTemplate() {
		return $('tr.participant_row_template').clone(true)
		.removeClass('participant_row_template')
		.addClass('participant_row');
	}
	// add a row for the user who creates the bill:
	// $('#participants').append( rowFromTemplate() );
	
	function addPerson(personID, personName) {
		var row = rowFromTemplate();
		row.find('.user_name').text( personName );
		row.find('.avatar_container').html( '<img class="avatar" src="'+ gravatarURLs[personID] +'" alt="avatar" />');
		row.find('.factor').attr( 'name', 'factors['+personID+']' );
		$('#participants').append( row );
		$('#person_id').val('');
		row.find('.factor').focus();
	}
	
	addPerson(<%= current_person.id %>, '<%= current_person.name %>');
	
	$('#person_id').change( function() {
		var personID = $('#person_id').val();
	   	var personName = $('#person_id :selected').text();
	
		if( personID && personName ) {
			addPerson(personID, personName);
		}
	});

	/*
	$('#create_bill_button').click(function() {
		var billName = $('#bill_name').val();
		var billAmount = $('#bill_amount').val()
		
		var error = true;
		if( !billName ) alert("please enter a short description!");
		else if( !billAmount ) alert( "please enter the total amount!" );
		else error = false;
		
		var data = {
			bill_name: billName,
			bill_amount: billAmount,
			payer_id: $('#payer_id').val(),
			participants: $.map( $('.participant_row'), function(r){
				var row = $(r);
				var factor = parseFloat( row.find('.factor').val() );
				if( !factor && ! (factor===0) ) {
					alert( 'please enter a factor for ' + row.find('.user_name').text() );
					error = true;
				}
				return {
					user_id: row.find('.user_id').text(),
					factor: factor
				}
			})
		};
		
		if( error ) return;
		
		$.post( '<%= url_for(:action => "create") %>', {
			authenticity_token: '<%= form_authenticity_token %>',
			data: $.toJSON(data)
		}, function( res ) {
			if( res.errors ) {
				flash( "sorry an error has hapened on the server!" );
				console.log( res.errors );
			}
			else {
				window.location = '<%= url_for( :controller => 'bills', :action => 'index' ) %>';
			}
			
		}, 'json');
	});
	*/
});
// -->
</script>
<% end %>