
<% container do %>
	<% form_for :person, current_person, :url => url_for( :action => 'preferences' ) do |f| %>
		<h2>Edit your account</h2>
		
		<div id="account_prefs">
			<div>
				<label for="person_name">Name</label>
				<%= f.text_field :name, :maxlength => 255 %>
				<div><%= f.error_message_on :name %>&nbsp;</div>
			</div>
			<div>
				<label for="person_email">Email</label>
				<%= f.text_field :email, :maxlength => 255 %>
				<div><%= f.error_message_on :email %>&nbsp;</div>
			</div>
			<div>
				<label for="person_gravatar_email">Email (for gravatar)</label>
				<%= f.text_field :gravatar_email, :maxlength => 255 %>
				<div><%= f.error_message_on :gravatar_email %>&nbsp;</div>
			</div>
			<div>
				<label for="person_currency_id">Currency</label>
				<%= f.select( :currency_id, Currency.find(:all).map{|c| [c.name, c.id]}, {:include_blank => false} ) %>
				<div><%= f.error_message_on :currency_id %>&nbsp;</div>
			</div>
			<div>
				<label for="person_password">Password</label>
				<%= f.password_field :password %>
				<div><%= f.error_message_on :password %>&nbsp;</div>
			</div>
			<div>
				<label for="person_password_confirmation">Password (please repeat)</label>
				<%= f.password_field :password_confirmation %>
				<div><%= f.error_message_on :password_confirmation %>&nbsp;</div>
			</div>
			<div>
				<span class="success"><%= flash[:notice] || '&nbsp;' %></span>
				<input type="submit" name="submit" value="Save" />
				<div style="clear:both"></div>
			</div>
		</div>
	<% end %>
<% end %>

